
@{
    ViewBag.Title = "ModificaDetalleFac";
}

<div class="jumbotron">
    <h2>Modificar Detalle Factura</h2>
    <form id="frmDetalleFac" method="post">

        <div class="form-group">
            <label>Tipo Servicio/Producto:</label>
            <select name="idSOP" id="idSOP" class="form-control" value="@Model.idSOP">
                <option value="">Favor seleccione</option>
                @{

                    foreach (MVC_ProyectoP6.Models.sp_RetornaServicioOProducto_Result ModeloSOP in this.ViewBag.ListaTipoSOP)
                    {
                        bool esIdSOP = ModeloSOP.idSOP == Model.idSOP;
                        if (esIdSOP)
                        {
                            <option value="@ModeloSOP.idSOP" selected>@ModeloSOP.TipoSOP.ToUpper()</option>
                        }
                        else
                        {
                            <option value="@ModeloSOP.idSOP">@ModeloSOP.TipoSOP.ToUpper()</option>
                        }

                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Cantidad:</label>
            <input type="number" name="CantidadSOP" id="CantidadSOP" class="form-control" value="@Model.CantidadSOP" />
        </div>

        <div class="form-group">
            <label>Precio:</label>
            <select name="PrecioSOP" id="PrecioSOP" class="form-control">
            </select>
        </div>

        <div class="form-group">
            <label>Factura#:</label>
            <select name="idEncabezadoFact" id="idEncabezadoFact" class="form-control">
                @{

                    foreach (MVC_ProyectoP6.Models.sp_RetornaEncFactura_Result ModeloEncabezado in this.ViewBag.ListaEncabezado)
                    {

                        bool esIdSOP = ModeloEncabezado.idEncabezadoFac == Model.idEncabezadoFact;
                        if (esIdSOP)
                        {
                            <option value="@ModeloEncabezado.idEncabezadoFac" selected>Factura#@ModeloEncabezado.idEncabezadoFac Cliente#@ModeloEncabezado.idCliente</option>
                        }
                        else
                        {
                            <option value="@ModeloEncabezado.idEncabezadoFac">Factura#@ModeloEncabezado.idEncabezadoFac Cliente#@ModeloEncabezado.idCliente</option>
                        }

                    }


                }
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Modificar" id="btnAgregar" class="btn btn-success" />
        </div>
    </form>
    <a href="~/DetalleFactura/ListaDetalleFactura" class="btn btn-primary">Lista Detalle Factura</a>
</div>

@section scripts{
    <script src="~/Scripts/DetalleFactura/cargaSyP.js"></script>
}
