
@{
    ViewBag.Title = "ListaEncabezadoFactura";
}



<div class="jumbotron">
    <h1 style="text-align:center">Facturas</h1>
    <h2>Lista Encabezado Factura</h2>
    <a href="~/EncabezadoFactura/NuevoEncabezadoFactura" class="btn btn-success">Agregar Nuevo Encabezado</a>
    <a href="~/Home/PaginaPrincipal" class="btn btn-primary">Pagina Principal</a>
    <a href="~/EncabezadoFactura/GridEncabezadoFactura" class="btn btn-success">Reporte Nuevo Encabezado</a>
    <a href="~/DetalleFactura/ListaDetalleFactura" class="btn btn-primary">Ver Lista Detalles Factura</a>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>#Factura</th>
                <th>Cliente </th>
                <th>Vehiculo Placa</th>
                <th>Fecha</th>
                <th>Monto Total</th>
                <th>Estado</th>

                <th style="text-align:center">Acciones</th>
                <th>Detalle Factura</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (MVC_ProyectoP6.Models.sp_RetornaEncFactura_Result posicionModelo
                 in this.Model)
                {
                    <tr>
                        <td>@posicionModelo.idEncabezadoFac</td>
                        @foreach (MVC_ProyectoP6.Models.sp_RetornaClientes_Result ModeloC in this.ViewBag.ListaClientes)
                        {
                            if (posicionModelo.idCliente == ModeloC.idCliente)
                            {
                                <td>@ModeloC.NombreCompleto.ToUpper()</td>
                            }
                        }

                        @foreach (MVC_ProyectoP6.Models.sp_RetornaVehiculo_Result ModeloV in this.ViewBag.ListaVehiculos)
                        {
                            if (posicionModelo.idVehiculo == ModeloV.idVehiculo)
                            {
                                <td>@ModeloV.PlacaVehiculo</td>
                            }
                        }




                        <td>@posicionModelo.Fecha.ToShortDateString()</td>
                        <td>@posicionModelo.MontoTotalServicios</td>
                        <td>@posicionModelo.EstadoFactura</td>

                        <td>
                            <a href="~/EncabezadoFactura/ModificaEncabezadoFactura?idEncabezadoFac=@posicionModelo.idEncabezadoFac" class="btn btn-primary">Modificar</a>
                            <a href="~/EncabezadoFactura/EliminaEncabezadoFactura?idEncabezadoFac=@posicionModelo.idEncabezadoFac" class="btn btn-danger">Eliminar</a>

                        </td>
                        <td>
                            <a href="~/DetalleFactura/AgregarDetalleFactura?idEncabezadoFac=@posicionModelo.idEncabezadoFac" class="btn btn-success">Agregar </a>
                            <a href="~/DetalleFactura/ListaDetallePorId?idEncabezadoFact=@posicionModelo.idEncabezadoFac" class="btn btn-primary">Ver </a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


