
@{
    ViewBag.Title = "ModificaEncabezadoFactura";
}

<div class="jumbotron">
    <h2> Modificando Encabezados de Facturas</h2>

    <form id="EncabezadoFactura" method="post">

        <div class="form-group">
            <label>Clientes :</label>
            <select name="idCliente" id="idCliente" class="form-control" value=" @Model.idCliente" readonly>

                @{
                    foreach (MVC_ProyectoP6.Models.sp_RetornaClientes_Result clientes in this.ViewBag.ListaClientes)
                    {
                        bool esIdCliente = clientes.idCliente == Model.idCliente;
                        if (esIdCliente)
                        {
                            <option value="@clientes.idCliente" selected> @clientes.NombreCompleto.ToString()</option >  
                        }
                        else
                        {
                            <option value="@clientes.idCliente">@clientes.NombreCompleto.ToString() </option>
                        }
                    }
                }
            </select>
        </div>


        <div class="form-group">
            <label>Vehiculo :</label>
            <select name=idVehiculo id="idVehiculo" class="form-control" value="@Model.idVehiculo ">

                @{
                    foreach (MVC_ProyectoP6.Models.sp_RetornaVehiculo_Result vehiculos
                        in this.ViewBag.ListaVehiculos)
                    {
                        bool esIdVehiculo = vehiculos.idVehiculo == Model.idCliente;
                        if (esIdVehiculo)
                        {
                            <option value="@vehiculos.idVehiculo" selected> @vehiculos.PlacaVehiculo.ToString() </option>

                        }
                        else
                        {
                            <option value="@vehiculos.idVehiculo">@vehiculos.PlacaVehiculo.ToString()</option>
                        }
                    }
                }
                }
            </select>
        </div>

        <div class=" form-group">
            <label>Fecha</label>
            <input type="date" name="Fecha" id="Fecha" class="form-control" value="@Model.Fecha.ToString("yyy-MM-dd")"  />
  
        </div>

        <div class=" form-group">
            <label>Monto Total Servicios</label>
            <input type="text" name="MontoTotalServicios" id="MontoTotalServicios" class="form-control" value="@Model.MontoTotalServicios" />
        </div>


        <div class="form-group">
            <label>Estado :</label>
            <select name="estadofactura" id="estado" class="form-control" value="@Model.EstadoFactura">


                <option value="Activa">Activa</option>
                <option value="Anulada">Anular</option>

            </select>
        </div>

        <div class="form-group">
            <label>Detalle :</label>
            <select name="idDetalleFac" id="idDetalleFac" class="form-control" value=" @Model.idDetalleFac">

                @{
                    foreach (MVC_ProyectoP6.Models.sp_RetornaDetalleFac_Result detalle in
                        this.ViewBag.ListaDetalles)
                    {
                        bool esIdDetalleFac = detalle.idDetalleFac == Model.idCliente;
                        if (esIdDetalleFac)
                        {
                            <option value="@detalle.idDetalleFac" selected> @detalle.CantidadSOP.ToString() </option>

                        }
                        else
                        {
                            <option value="@detalle.idDetalleFac">@detalle.CantidadSOP.ToString()</option>
                        }
                    }
                }
            </select>
        </div>

        <div class=" form-group">
            <input type="submit" value="Modificar" id="btnGuardar" class="btn btn-primary" />

        </div>
        <a href="~/EncabezadoFactura/ListaEncabezadoFactura" class="btn btn-success">Lista Encabezadoscde Factura </a>
    </form>

</div>
